/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.TicketList {
  display: flex;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 5%;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Ticket cards */
.ticket {
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  /* margin: 10px auto; */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0 0 calc(33.33% - 10px);
  margin: 10px;
  margin-top: 3%;

}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .ticket {
    max-width: 100%;
  }
}
